<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
    {#            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
    {#            crossorigin="anonymous"></script>#}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="test-question-wrapper mt-5">
        <h2 class="pb-5">Welcome to test page</h2>
        <div class="sets-wrapper">
            <h4>Please select a set :</h4>
            <select name="" id="set">
                {% for set in sets %}
                    <option value="">{{ set }}</option>
                {% endfor %}
            </select>
        </div>
        {#        {% for question in questions %}#}
        <div class="test-questions mt-5" id="display_questions">
            {#                <p>{{ question.question }}</p>#}
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        {#        {% endfor %}#}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"#}
{#            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"#}
{#            crossorigin="anonymous"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $.ajax({
                type: 'GET',
                url: "{% url 'api' %}",
                success: function (response) {
                    $("#display_questions").empty();
                    for (var question in response.questions) {
                        var temp = "<p>" + response.questions[question].question + "</p>";
                        $("#display_questions").append(temp);
                    }
                },
                error: function () {
                    console.log('fail');
                    alert('An Error Occured');
                }
            });
        }, 1000);
    });
</script>

{#Select2#}

<script>
    // In your Javascript (external .js resource or <script> tag)
    $(document).ready(function () {
        $('#set').select2();
    });
</script>


</body>
</html>